<!DOCTYPE html>
<html>
<html>
<body style="background-color: #b9b0b0;">
<head>
<style>
body {
  margin:0;
}
</style>
<style>

.about-section {
  padding: 100px;
  text-align: center;
  background-color: #b9b0b0;
  color: black;
  font-size:17px;
}

</style>
</head>
<body>

 
</div>
<div class="about-section">


  <h1>About Us</h1>
     <p><b>Cummins Translator will help us translate the data from Chinese to English or from any other source language to English language in excel file.</b></p>
       <p><b>Then you can select column name which you want to translate from the imported excel file.</b></p> 
        <p><b>After this you can run your file where it will translate the data.</b></p>
         <p><b>Though it will take some specific time to translate the data but it provides privacy to the data.</b></p>
         <p><b>Confidentiality of the data increases which reduces the chances of data breach.</b></p>
       <p><b>Still if we are discussing a platform in terms of privacy we will recommend you to use this.</b></p>
</div>
<style>
</style>
